<h1><span class="yellow">Repertuar</span></h1>
<table class="container">
  <thead>
    <tr>
      <th></th>
      <th><h1>Tytuł</h1></th>
      <th><h1>Ocena</h1></th>
      <th><h1>Rok</h1></th>
      <th><h1>Trailer</h1></th>
      <th><h1>Opis</h1></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each.with_index(1) do |m, i| %>
        <tr>
          <td><%= i %></td>
          <td><%= link_to m[:title], m[:details_url], rel: 'nofollow', target: :_blank %></td>
          <td><%= m[:rating] %></td>
          <td><%= m[:year] %></td>
          <td><%= link_to(image_tag('play.svg'), m[:video_url], rel: 'nofollow', target: :_blank) if m[:video_url] %></td>
          <td><%= m[:description] %></td>
        </tr>
    <% end %>
  </tbody>
</table>
