<!DOCTYPE html>
<html>
<head>
  <title>Jak oceniajo?</title>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
<%= yield %>
</body>
</html>
